body 
{
    text-align: center;
    color: darkcyan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px; 
    background-color: aquamarine;  
    background-size: 200px 100px;

}

h1 
{
    font-size: 50px;
    color: darkcyan;
}

h2
{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;  
    color: black;
    background-color: peachpuff;
}

h3
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}
